<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fuzzywuzzy</title>
    <h1>Flask: String matching using fuzzywuzzy and double metaphone lib</h1>
    <h3>Input the following:</h3>
    <form action="{{ url_for('home') }}" method="post">
        <p>String1 = <input type="text" name="input1" ></p>
        <p>String2 = <input type="text" name="input2"></p>
        <button type="submit" value="Submit">Submit</button>
    </form>
</head>
<body>

</body>
</html>